body{
    color: #000;
	word-wrap: break-word;
	font-family:Times New Roman;
}

img {
    padding: 15px 15px 15px;
    background-color: #262626;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	width: 95%;
	overflow: hidden;
	margin-left: auto;
    margin-right: auto;
	display: block;
}

a:link{
    color: blue;
}


blockquote {
  font-style:italic;
  background: #e7e7e7;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  /*quotes: "\201C""\201D""\2018""\2019";*/
  overflow:hidden;
}
blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display:inline;
}